extends layout

block content
  h1 Shorten Urls
  p.lead Serverless Node.js web applications
  .domain-select
    span.item
      input(id="val1",type="radio",name="domain",value="https://url.sls.plus",checked="true")
      label(for="val1") https://url.sls.plus
    span.item
      input(id="val2",type="radio",name="domain",value="https://u.sls.plus")
      label(for="val2") https://u.sls.plus
  section(class="input-box")
    input(class="input",type="text",name="url",id="url",placeholder="Please input your source url")
    button(class="button",id="button") Submit
  section(class="result-box")
    h3.result-title Result
    p(id="result") No data
