doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Shorten Urls
    link(rel="stylesheet", href="css/index.css")


  body
    .container
      block content
  script(src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(src="js/index.js")
