* {
  outline: none;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 50px auto;
  width: 500px;
  text-align: center;
}

.input-box {
  display: flex;
  justify-content: center;
}

.result-box {
  border: 1px dashed #ccc;
  width: 500px;
  margin-top: 20px;
  height: 80px;
  margin-top: 40px;
  position: relative;
}

.domain-select {
  width: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.domain-select .item {
  margin-right: 20px;
  height: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.domain-select .item:hover {
  cursor: pointer;
}

.result-title {
  position: absolute;
  left: 8px;
  top: 5px;
  margin: 0;
  font-size: 14px;
}

#result {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
}

.error {
  color: red;
  font-weight: bold;
}

.input {
  border: 1px solid #333;
  border-right: 0;
  line-height: 30px;
  height: 30px;
  font-size: 16px;
  padding: 2px 10px;
  width: 300px;
}

.button {
  cursor: pointer;
  outline: none;
  height: 30px;
  width: 80px;
  line-height: 30px;
  font-size: 14px;
  border: 1px solid #333;
}

.button:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

footer {
  position: fixed;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  bottom: 10px;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .container {
    width: 95%;
  }
  .domain-select,
  .input-box,
  .result-box {
    width: 100%;
  }
}
